//.catalog {
//  position: relative;
//}
//.catalog__dropdown {
//  position: static;
//}
//
//.catalog__dropdown-menu {
//  left: 100% !important;
//  transform: translateY(0) !important;
//}

.catalog__dropdown-menu {
  width: 100%;
}

.catalog__link,
.catalog__toggle {
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  background-color: #565b6f;
  text-transform: uppercase;
  border-bottom: 1px solid #4a5060;

  &:after {
    content: none !important;
  }
  &:hover {
    text-decoration: none;
    background-color: darken(#565b6f, 20%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
    background-color: darken(#565b6f, 15%);
  }
}

.catalog__link {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: none;
  background-color: darken(#565b6f,5%);
  border-bottom: 1px solid #5b647b;

  &:hover {
    color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    top: -1px;
    bottom: -1px;
    left: 0;
    background-color: #ff9801;
  }
}