.delivery-desc {
  background-color: #ffffff;
  margin-top: 30px;
}

.delivery-desc__header {
  margin-bottom: 70px;
}

.delivery-desc__rounded-box {
  width: 130px;
  height: 130px;

  text-align: center;

  border-radius: 50%;
  border: 2px solid #484848;
}

.delivery-desc__rounded-box--icon {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin: 33px auto;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery-desc__rounded-box--icon-cod {
  background-image: url('../img/delivery-cod.svg');
}

.delivery-desc__rounded-box--icon-card {
  background-image: url('../img/delivery-card.svg');
}

.delivery-desc__rounded-box--icon-cash {
  background-image: url('../img/delivery-cash.svg');
}

.delivery-desc__rounded-box--icon-new-post {
  background-image: url('../img/new-post.svg');
  background-size: 100px 24px;
}

.delivery-desc__rounded-box--icon-ukr-post {
  background-image: url('../img/ukr-post.svg');
  background-size: 80px 24px;
}

.delivery-desc__rounded-box--icon-courier {
  background-image: url('../img/courier.svg');
}


