.stars {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.stars__item {
  width: 18px;
  height: 17px;
  margin-right: 3px;
}

.stars__icon {
  width: 100%;
  height: 100%;
  fill: #ff9801;
}